template(name="merchantHome")
  #content.modern.merchant-home
    .dual-content
      .dual-addon
        .search-filter.icon-search-8
          input(name='searchFilter' type="text" placeholder="tìm kiếm...")
        .nano: .nano-content(style="margin-bottom: 35px;")
          .group-wrapper
            with getSession 'merchantFullSearches'
              if isShowSearch 'orders'
                .caption.group Phiếu Bán
                each orders
                  .caption.inner.advanced
                    +avatarImageComponent(avatar=avatarUrl alias=orderName)
                    span.text {{orderCode}}
                      .commands {{momentFormat accountingConfirmAt 'DD/MM/YYYY'}}
                    span.left-info {{orderName}}
                    span.right-info {{formatNumber finalPrice}} VND

              if isShowSearch 'imports'
                .caption.group Phiếu Nhập
                each imports
                  .caption.inner.advanced
                    +avatarImageComponent(avatar=avatarUrl alias=importName)
                    span.text {{importCode}}
                      .commands {{momentFormat accountingConfirmAt 'DD/MM/YYYY'}}
                    span.left-info {{importName}}
                    span.right-info {{formatNumber finalPrice}} VND

              if isShowSearch 'customers'
                .caption.group Khách Hàng
                each customers
                  .caption.inner.advanced
                    +avatarImageComponent(avatar=avatarUrl alias=name)
                    span.text {{name}}
                      //.commands {{momentFormat accountingConfirmAt 'DD/MM/YYYY'}}
                    //span.left-info {{importName}}
                    //span.right-info {{formatNumber finalPrice}} VND

              if isShowSearch 'providers'
                .caption.group Nhà Cung Cấp
                each providers
                  .caption.inner.advanced
                    +avatarImageComponent(avatar=avatarUrl alias=name)
                    span.text {{name}}
                      //.commands {{momentFormat accountingConfirmAt 'DD/MM/YYYY'}}
                    //span.left-info {{orderName}}
                    //span.right-info {{formatNumber finalPrice}} VND

              if isShowSearch 'products'
                .caption.group Sản Phẩm
                each products
                  .caption.inner.advanced
                    +avatarImageComponent(avatar=avatarUrl alias=name)
                    span.text {{name}}
                      //.commands {{momentFormat accountingConfirmAt 'DD/MM/YYYY'}}
                    //span.left-info {{orderName}}
                    //span.right-info {{formatNumber finalPrice}} VND





      .dual-detail-wrapper
        .dual-detail.metro: .merchant-metro-wrapper
          //.home-separator-line.icon-down-open-2
          //.home-eds-text THIEN BAN
          //.home-separator-logo

          if showMetroBySeller
            +merchantHomeBySeller


          if showMetroByAdmin
            .metro-inner-wrapper
              +metroDecoratorTiles

              each this
                div(class="{{classGroup}}")
                  each dataGroup
                    +Template.dynamic(template='metroTile' data=this)

              +metroDecoratorTiles




  //#footer.modern
  //  .editor-row
  //    .editor-wrapper.dual-spacer


template(name="merchantHomeBySeller")
  .metro-inner-wrapper
    .tile-group-6
      each decoratorIterator
        .tile.decoration

    .tile-group-3
      .tile.amethyst.order-management(data-app="sales")
        //.app-icon.icon-basket
        .app-count {{getPublishedCount 'orderOfStaff'}}
        .app-count-description phiếu
        span.caption.app-name.bottom.right bán hàng
      .tile.carrot(data-app="billManager")
        //.app-icon.icon-award
        .app-count {{getPublishedCount 'billManagerOfStaff'}}
        .app-count-description tình trạng
        span.caption.app-name.bottom.right phiếu bán
      .tile.green-sea(data-app="orderManager")
        //.app-icon.icon-award
        .app-count {{getPublishedCount 'orderHistoryOfStaff'}}
        .app-count-description hoàn thành
        span.caption.app-name.bottom.right phiếu bán

      .tile.double.lime.overlay.customer-management(class="{{metroUnLocker Summary.data.staffCount}}" data-app='customerManagement')
        .canvas-wrapper.double: .canvas
          //.app-icon.icon-group
          .app-count {{getPublishedCount 'customerOfStaff'}}
          .app-count-description tất cả
          span.caption.app-name.bottom.right khách hàng
      .tile.carrot(data-app="customerGroup")
        //.app-icon.icon-shareable
        .app-count {{getPublishedCount 'customerGroupOfStaff'}}
        .app-count-description NHÓM
        span.caption.app-name.bottom.right khách hàng

      .tile.double.belize-hole.overlay.product-management(data-app="productManagement")
        .canvas-wrapper: .canvas
          //.app-icon.icon-cubes
          .app-count {{getPublishedCount 'products'}}
          .app-count-description tất cả
          span.caption.app-name.bottom.right sản phẩm
      .tile.peter-river(data-app="turnoverStaff")
        //.app-count {{getPublishedCount 'productGroups'}}
        .app-count-description khách hàng
        span.caption.app-name.bottom.right doanh số

      .tile.amethyst
        //.app-icon.icon-chart-pie-outline
        .app-count
        .app-count-description
        span.caption.app-name.bottom.right thống kê
      .tile.peter-river
        //.app-icon.icon-shareable
        //.app-count 0
        //.app-count-description
        span.caption.app-name.bottom.right nhật ký
      .tile.peter-river(data-app='merchantOptions')
        //.app-icon.icon-shareable
        .app-count
        .app-count-description hệ thống
        span.caption.app-name.bottom.right tùy chỉnh

    .tile-group-6
      each decoratorIterator
        .tile.decoration

template(name="merchantHomeByAdmin")