template(name="customerManagementOverviewSection")
  if isManager
    .section.top.panel.panel-default
      input.hidden.avatarFile(type="file")
      .panel-heading
        +avatarImageComponent(avatar=avatarUrl alias=firstName)
        .caption
          input.editable.dashed(name="customerName" value="{{name}}" maxlength="50")
          //if description
          //  span.blured-color ({{description}})
        .sub1: input.editable.dashed(name="customerPhone" value="{{profiles.phone}}" maxlength="100" size="30" placeholder="điện thoại")
        .sub2: input.editable.dashed(name="customerAddress" value="{{profiles.address}}" maxlength="200" size="50" placeholder="địa chỉ")
        .commands
          if showEditCommand
            .lemon.btn.rounded.lime.icon-ok-6.syncCustomerEdit
          if showDeleteCommand
            .lemon.btn.rounded.red.icon-minus-4.customerDelete

      .panel-footer
        .region
          .title.customerDetail
            if getSession 'customerManagementIsShowCustomerDetail'
              span.s5.note.icon-angle-right <b>Thu gọn</b>

              with this
                .detail-wrapper(style="padding: 5px;")
                  form.form-inline: .form-group: .input-group
                    input.hide
                    .input-group-addon(style="font-size: 14px;") Mã khách hàng:
                    .input-group-addon(style="width: 150px")
                      if isManager
                        input.editable.dashed(style="text-align: center;" data-toggle="tooltip" data-container="body" data-placement="right"
                        name="customerCode" placeholder="mã khách hàng" title="Mã Khách Hàng" value="{{customerCode}}")
                      else
                        |{{customerCode}}

                .detail-wrapper(style="padding: 5px;")
                  form.form-inline: .form-group: .input-group
                    input.hide
                    .input-group-addon(style="font-size: 14px;") Địa chỉ Chành:
                    .input-group-addon(style="width: 500px")
                      if isManager
                        input.editable.dashed(style="text-align: left;" data-toggle="tooltip" data-container="body" data-placement="right"
                        name="deliveryAddress" placeholder="địa chỉ chành" title="Địa Chỉ Chành" value="{{deliveryAddress}}")
                      else
                        |{{deliveryAddress}}

              span.s5.note(style="margin-left: 10px; cursor:none;") <b>Ghi chú:</b>
              textarea.editDescription(style="width:100%; height: 85px; resize:none; outline: none !important;  margin-left: 10px; padding-left:5px; border-radius: 5px;"
              name="editDescription" maxlength="2000") {{description}}

            else
              span.s5.note.icon-angle-right <b>Thông tin chi tiết</b>



  else
    .section.top.panel.panel-default
      .panel-heading
        +avatarImageComponent(avatar=avatarUrl alias=firstName)
        .caption: span.editable.dashed(data-toggle="tooltip" data-container="body" data-placement="right"
        placeholder="tên khách hành" title="tên khách hành") {{name}}

        .sub1: span.editable.dashed(style="width: 125px" data-toggle="tooltip" data-container="body" data-placement="right"
        placeholder="điện thoại" title="điện thoại") {{profiles.phone}}

        .sub2: span.editable.dashed(style="width: 125px" data-toggle="tooltip" data-container="body" data-placement="right"
        placeholder="địa chỉ" title="địa chỉ") {{profiles.address}}