template(name="customerDetail")
  .nano.animated.fadeIn: .nano-content
    input.hide.customer-image-input(type="file")
    .section.avatar
      .avatar-wrapper: .avatar-image.editable.customer-image(class="{{missingImageClass instance.image}}" style="background-image:url('{{customerImageSrc instance.image}}')"
        wings-tip="ảnh đại diện sản phẩm") {{avatarLetter instance.name}}
        .clear.icon-close-circle
      .headers
        +wingsEditable(model=instance field="name" style="heading" label="tên công ty" placeholder="Tên công ty")

    .section
      +wingsEditor(model=instance field="description" style="s5" placeholder="Ghi chú chung...")

    .section
      .region
        .title
          span Thông tin cơ bản.
        .region-row
          +regionInput(wrapperClass="col-6 businessOwner" label="chủ doanh nghiệp" value=instance.businessOwner)
          +regionInput(wrapperClass="col-6 phone" label="số điện thoại" value=instance.phone)
        .region-row
          +regionInput(wrapperClass="col-12 address" label="địa chỉ" value=instance.address)
        .commands-wrapper
          .commands
            .command.extract-event thêm sự kiện
            .command.update-customer.icon-ok-circled2 lưu

    .section
      .region
        .title
          span Danh sách nhân viên chăm sóc,
          span.sub-title  một khách hàng có thể được chăm sóc bởi nhiều nhân viên.
        .commands-wrapper
          .commands
            .command.cancel-add-careStaff hủy
            .command.accept-add-careStaff.icon-ok-circled2 lưu

    .section
      .region
        .title
          span Lịch sử giao dịch,
          span.sub-title  được tính theo quý III.