template(name="importReturnLayout")
  #content.modern
    .dual-content
      +Template.dynamic(template='importReturnProductSearch' data=importReturnData)
      +Template.dynamic(template='importReturnDetail' data=importReturnData)


  #footer.modern
    .editor-wrapper.dual-spacer
    .editor-row
      .editor-wrapper(style="width: 200px")
        span.ilabel.optional nhà cung cấp
        +iSelect(options=providerSelectOptions class="field providerSelect")

      .editor-wrapper(style="width: 200px")
        span.ilabel.optional phiếu nhập kho
        +iSelect(options=importSelectOptions class="field importSelect")

      .editor-wrapper.pull-right
        button.lemon.btn.lime.pull-right.returnSubmit(class="{{allowSuccessReturn}}" type='submit' style="margin-right: 5px;") HOÀN TẤT

    +tabComponent(options=tabProviderReturnOptions)