//template(name="transaction")
//  #header
//    unless isShowHistory
//      .editor-row
//        .editor-wrapper(style="width: 150px")
//          //span.ilabel.optional Thu - Chi của :
//          +iSelect(options=typeSelectOptions class="field")
//
//        .editor-wrapper(style="width: 300px")
//          span.ilabel.optional Tên KH hoặc NCC :
//          +iSelect(options=ownerSelectOptions class="field")
//
//        .editor-wrapper(style="width: 250px")
//          span.ilabel.optional Loại phiếu:
//          +iSelect(options=customerIncomeOrCostSelectOptions class="field")
//
//        .editor-wrapper.pull-right
//          button.flat.btn.lime.createTransaction(class="{{getSession 'transactionCreateNewIsDisabled'}}") XÁC NHẬN
//
//
//  #content
//    .dual-content
//      .dual-detail-wrapper
//        .nano: .nano-content: +Template.dynamic(template=transaction.content data=transaction.data)
